.app {
    display: grid;
    grid-template: 10vh auto / 100%;
    height: 100%;
  }
  
.navigation {
    grid-area: 1 / 1 / 2 / 2;
  }
  
.body {
    grid-area: 2 / 1 / 3 / 2;
}

@media only screen and (min-device-width :768px) {
    .app {
        grid-template: 2.4rem auto / 100%;
    }
    
    .navItems {
        width: 60%;
    }
      
    #home, #about, #contact {
          font-size: 1.7rem;
    }
}