.chosen {
  height: 12vh;
  width: 100vw;
  margin-top: 4%;
}

.left {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.large,
.large2  {
  font-size: 2.1rem;
  font-family: "Poppins", sans-serif;
  color: #fffbee;
  word-spacing: 0.5rem;
}

.large2 {
  margin-left: 5%;
}

.right {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.largest {
  font-size: 3.2rem;
  font-family: "Poppins", sans-serif;
  color: seagreen;
  text-shadow: 0.1rem 0.12rem black;
  margin-top: 2%;
}

@media only screen and (min-device-width : 768px) {
  .chosen {
    display: flex;
    height: 10vh;
    align-items: center;
    margin-top: 1%;
  }
  
  .left {
      display: inline-flex;
      width: 55%;
      flex-direction: row;
      justify-self: flex-start;
      justify-content: space-evenly;
    }
    
    
  .large,
  .large2 {
      font-size: 2.8rem;
      word-spacing: 0.5rem;
  }
    
  .right {
      display: flex;
      width: 45%;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }
    
  .largest {
      font-size: 3.5rem;
      margin-top: auto
  }
}