.hGrid {
    display: grid;
    grid-template: 45vh 60%/100%;
    margin-top: 2%;
}
.home {
    grid-area: 1/1/2/2;
}
.calThumb {
    grid-area: 2/1/3/2;
}
.theCal {
    display: grid;
    grid-template: 10% 8% 82%/100%;
    width: 100vw;
    height: 70vh;
    margin-top: 2%;
}
.theCal > h2 {
    grid-area: 1/1/2/2;
    justify-self: center;
    align-self: center;
    font-size: 2rem;
    color: #32558c;
    text-shadow: 1.5px 1.8px #000;
    font-weight: 700;
}
.theCal h3 {
    grid-area: 2/1/3/2;
    justify-self: center;
    font-size: 1.7rem;
    font-style: italic;
    color: #2e8b57;
}
.theCal h3:hover {
    color: #fffbee;
}
#blahC {
    text-decoration: none;
    justify-self: center;
    align-self: center;
}
.theCal > img {
    grid-area: 3/1/4/2;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    justify-self: center;
    align-self: start;
    margin-top: 8%;
}
.chosen {
    height: 12vh;
    width: 100vw;
    margin-top: 4%;
}
.left {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}
.large,
.large2 {
    font-size: 2.1rem;
    font-family: Poppins, sans-serif;
    color: #fffbee;
    word-spacing: 0.5rem;
}
.large2 {
    margin-left: 5%;
}
.right {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}
.largest {
    font-size: 3.2rem;
    font-family: Poppins, sans-serif;
    color: #2e8b57;
    text-shadow: 0.1rem 0.12rem #000;
    margin-top: 2%;
}
.media {
    display: grid;
    width: 85vw;
    height: 90%;
    grid-template: 13% 87%/72% 28%;
    column-gap: 3%;
    margin: 4% 5% 1% 5%;
}
.media img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border: 5px solid #fffbee;
    grid-area: 1/1/3/2;
    align-self: center;
    justify-self: center;
}
.media h2 {
    font-size: 2.8rem;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    grid-area: 1/2/2/3;
    color: #8872ad;
    align-self: center;
    justify-self: center;
    margin-right: 2%;
}
.media .skills {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-evenly;
    font-size: 1.5rem;
    font-family: Poppins, sans-serif;
    grid-area: 2/2/3/3;
    color: #8872ad;
    margin-right: 2%;
}
.skills > li {
    justify-items: center;
    align-self: center;
}
@media only screen and (min-device-width: 768px) {
    .hGrid {
        grid-template: 100%/2fr 1.3fr;
        margin-top: 0;
    }
    .home {
        grid-area: 1/2/2/3;
    }
    .calThumb {
        grid-area: 1/1/2/2;
    }
    .theCal {
        width: 90%;
        height: 90%;
        margin-top: 2%;
    }
    .theCal > img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        justify-self: center;
        align-self: center;
        margin-top: 3%;
    }
    .theCal > h2 {
        font-size: 2rem;
        color: #8872ad;
    }
    .theCal h3 {
        font-size: 1.3rem;
    }
    .chosen {
        display: flex;
        height: 10vh;
        align-items: center;
        margin-top: 1%;
    }
    .left {
        display: inline-flex;
        width: 55%;
        flex-direction: row;
        justify-self: flex-start;
        justify-content: space-evenly;
    }
    .large,
    .large2 {
        font-size: 2.8rem;
        word-spacing: 0.5rem;
    }
    .right {
        display: flex;
        width: 45%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .largest {
        font-size: 3.5rem;
        margin-top: auto;
    }
    .media {
        width: 28rem;
        height: 25rem;
        grid-template: 13% 87%/72% 28%;
        column-gap: 3%;
        margin: 7% 1% 1% 9%;
    }
    .media h2 {
        font-size: 2rem;
    }
    .media .skills {
        font-size: 1.3rem;
    }
}